.food-menu {
    margin: 25px;
    line-height: 25px;
}

.menu-header {
    font-family: 'Sancreek', cursive;
}


.menu-title {
    font-family: 'Economica', sans-serif; 
    font-weight: bold;
}


* {
    font-family: arial;
}

p {
    font-size: 12px;
}