.app-footer {
    padding: 20px;
}

.leftfooter {
    text-align: center;
}

.emp-btn{
    background-color: #b52f2f;
    border: 0px;
}

.emp-btn:hover{
    color: #fff9a8;
    background-color: #b52f2f;
    border: 0px;
}

.social-btn {
    color: #b52f2f;
}

.social-btn:hover {
    color: #702929;
}

.text-muted {
    background-color: rgb(240, 238, 238);
    padding: 5px;
}